body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
div.navigationBar{
    width: 100%;
    height: 170px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
}
div.searchFrame{ 

    position: relative;
    width: 45%;
    height: 50px;
    background-color: azure;
    border: 0.5px solid black;
}
div.searchContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
input#searchKeyword{
    position: absolute;
    width: 96.5%;
    height: 80%;
    border: 0;
    outline: 0;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
}
div.mainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
div.row{
    display: flex;
    flex-direction: row;
    column-gap: 110px;
    width: 80%;
}
div.product{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    background-color: aquamarine;
    width: 300px;
    height: 400px;
}
div.imageFrame{
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
    height: 220px;
}
div.shortInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
}
span{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a.nextHtml{
    display: flex;
    flex-direction: column;
}