body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FCF6F5;
    overflow-x: hidden;
}
div.navigationBar{
    width: 100%;
    height: 5.5vw;
    background-color: #2BAE66;
    display: flex;
    flex-direction: row;
    padding-top: 1.5vw;
    border-radius: 0px 0px 30px 30px;
    column-gap: 2.5vw;
}
div.searchFrame{ 
    position: relative;
    width: 45%;
    height: 2.5vw;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 0.5vw;
    margin-left: 25%;
}
div.searchContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 0.5vw;
}
input#searchKeyword{
    border-radius: 0.5vw;
    width: 96.5%;
    height: 80%;
    border: 0;
    outline: 0;
    padding-top: 0.25vw;
    padding-right: 0.75vw;
    font-family: Lalezar;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.mainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.25vw;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5vw;
}
div.row{
    display: flex;
    flex-direction: row;
    column-gap: 5.5vw;
    width: 80%;
}
div.product{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    justify-content: flex-start;
    background-color: #80e0ab;
    width: 15vw;
    height: 22vw;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
div.product:hover{
    transform: scale(1.05);
}
div.imageFrame{
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
    height: 11vw;
}
div.shortInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3vw;
}
span{
    color: #000;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a.nextHtml{
    display: flex;
    flex-direction: column;
}
img#searchIcon{
    width: 5%;
    height: 1vw;
}
img#searchIcon:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
div.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2.5vw;
    padding-bottom: 2vw;
}
div#paginationSection{
    display: flex;
    flex-direction: row;
}
div.pageNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80e0ab;
    border: 0.2px solid black;
    width: 2.5vw;
}
div.pageNumber:hover{
    background-color: aquamarine;
    cursor: pointer;
}
span.pageText{
    font-size: 2vw;
}

div.wholeContent{
    display: flex;
    flex-direction: column;
}
div.categorySection{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
    align-items: center;
    height: 2.7vw;
    width: 25%;
}

label#filterLabelText{
    font-family: Lalezar;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select#categoryFilter{
    width: 60%;
    height: 90%;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 4px;
}
span.productName{
    font-family: Lalezar;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
}
span.productPrice{
    font-family: Lalezar;
    font-size: 1vw;
    font-style: normal;
    line-height: normal;
    color: #000;
}
span.categoryofproduct{
    font-style: italic;
    font-family: Lalezar;
    font-size: 1vw;
    font-style: normal;
    line-height: normal;
    color: #000;
}