body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
div.navigationBar{
    width: 100%;
    height: 8.5vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding-top: 1.5vw;
    justify-content: center;
}
div.searchFrame{ 
    position: relative;
    width: 45%;
    height: 2.5vw;
    background-color: white;
    border: 0.5px solid black;
}
div.searchContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}
input#searchKeyword{
    width: 96.5%;
    height: 80%;
    border: 0;
    outline: 0;
    padding-top: 0.25vw;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    font-family: Lalezar;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.mainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.25vw;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5vw;
}
div.row{
    display: flex;
    flex-direction: row;
    column-gap: 5.5vw;
    width: 80%;
}
div.product{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    justify-content: flex-start;
    background-color: aquamarine;
    width: 15vw;
    height: 20vw;
}
div.imageFrame{
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
    height: 11vw;
}
div.shortInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3vw;
}
span{
    color: #000;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a.nextHtml{
    display: flex;
    flex-direction: column;
}
img#searchIcon{
    width: 5%;
    height: 1vw;
}
img#searchIcon:hover{
    cursor: pointer;
}
div.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#paginationSection{
    display: flex;
    flex-direction: row;
}
div.pageNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 0.5px solid black;
}
span.pageText{
    font-size: 50px;
}