body,html{
    margin: 0;
    background-image: url("../assets/bb_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

div.navBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vw;
    padding-left: 2vw;
    padding-top: 2vw;
    column-gap: 40vw;
    padding-bottom: 4vw;
}
div#sectionFrame{
    background-color: #80e0ab;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 0.2px solid black;
}
span#pDetailsText{
    width: 100%;
    height: 100%;
    font-family: Lalezar;
    font-size: 2.2vw;
    font-style: normal;
    line-height: normal;
    color: #000;
}
div#backSection{
    display: flex;
    flex-direction: row;
    width: 4vw;
}
a#backLink{
    display: flex;
    flex-direction: row;
    width: 100%;
}
div.mainContent{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 50px;
    column-gap: 100px;
}

div.productGallery{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    border: 0.05vw solid #000;
    background: white;
}

div.productImageContainer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

img.productImage{
    border-radius: 0.5vw;
    width: 100%;
    height: 100%;
}

div.directionofimagechoice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#leftChoice{
    position: absolute;
    left:10px;
    bottom: 300px;
}

div#rightChoice{
    position: absolute;
    right:10px;
    bottom: 300px;
}

div.iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px #33333329;
    background-color: #fff;
    border-radius: 100%;
    padding: 6px;
}
div.productInformation{
    background-color: #80e0ab;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    border-radius: 10px;
}
div.productDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
span#productTitle{
    color: #000;
    font-family: Poppins;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
span{
    color: #000;
    font-family: Poppins;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.infoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vw;
}