body,html{
    margin: 0;
}
div.mainContent{
    padding-top: 1.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.productGallery{
    position: relative;
    width: 20vw;
    height: 30vw;
    border-radius: 10px;
    border: 0.05vw solid #000;
    background: #F9F9F9;
}

div.productImageContainer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

img.productImage{
    border-radius: 0.5vw;
    width: 100%;
    height: 100%;
}

div.directionofimagechoice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#leftChoice{
    position: absolute;
    left:10px;
    bottom: 300px;
}

div#rightChoice{
    position: absolute;
    right:10px;
    bottom: 300px;
}

div.iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px #33333329;
    background-color: #fff;
    border-radius: 100%;
    padding: 6px;
}